body {
    background: rgb(51,54,57);
    color: white;
}

.textInput {
    padding: 5px;
    font-family: "Droid Sans Mono";
    font-size: 14px;
    border-radius: 5px;
    border: none;
    background: #ebf0f5;
    margin-right: 5px;
}

.textInput:focus {
    background: white;
}

.inputBtn {
    color: white;
    background: #00a500;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 50px;
    outline: none;
}